In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('Gas_Price/gas_prices.csv')

In [3]:
dat['Total'] = dat['UK'] + dat['Italy'] + dat['Australia']

In [4]:
dat['Média'] = (dat['UK'] + dat['Italy'] + dat['Australia']) / 3

In [5]:
dat[['UK', 'Italy', 'Australia', 'Total', 'Média']]

      UK  Italy  Australia  Total     Média
0   2.82   4.59        NaN    NaN       NaN
1   3.01   4.50       1.96   9.47  3.156667
2   3.06   4.53       1.89   9.48  3.160000
3   2.84   3.68       1.73   8.25  2.750000
4   2.99   3.70       1.84   8.53  2.843333
5   3.21   4.00       1.95   9.16  3.053333
6   3.34   4.39       2.12   9.85  3.283333
7   3.83   4.07       2.05   9.95  3.316667
8   4.06   3.84       1.63   9.53  3.176667
9   4.29   3.87       1.72   9.88  3.293333
10  4.58   3.77       1.94  10.29  3.430000
11  4.13   3.57       1.71   9.41  3.136667
12  4.16   3.74       1.76   9.66  3.220000
13  4.70   4.53       2.19  11.42  3.806667
14  5.56   5.29       2.72  13.57  4.523333
15  5.97   5.74       3.23  14.94  4.980000
16  6.36   6.10       3.54  16.00  5.333333
17  7.13   6.73       3.85  17.71  5.903333
18  7.42   7.63       4.45  19.50  6.500000

In [ ]:
dat.to_csv('Gas_Pri_Exp.csv')

In [8]:
dat.to_html('GasPrice.html')

In [ ]:
dat.to_excel('GasP.xlsx')

In [15]:
dat.to_csv('GasPri.txt', index=False, sep='\t')